*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --accent-color: #0e374e;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #e5e5e5;
  overflow-x: hidden;
}

main {
  padding: 24px;
  height: 100vh;
  display: flex;
  gap: 48px;
}

.edit-side,
.resume-side {
  display: flex;
  gap: 24px;
  flex: 1;
  flex-wrap: wrap;
}

.collapsables {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex: 1;
}

.customize-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}
